# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Use markdown to format text and tables  
- Perform basic arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Pyhthon
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. Matplotlib

| Data Science Tools        |
|:--------------------------|
| Jupyter Notebook          |
| Jupyter Lab               |
| R Studio                  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Huzeyfe Yayla